<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dht.springboot002.mapper.UserMapper">
    <select id="selectAllUser" resultType="TestUser">
      select * from test_user;
    </select>

    <insert id="insertUser">
        insert into test_user(name,age,address,phone) values(#{name},#{age},#{address},#{phone});
    </insert>
</mapper>